altair==4.1.0
gunicorn
dash
dash_core_components
dash_html_components
dash_renderer
dash_table
dash_bootstrap_components
decorator==4.4.2
Flask==1.1.2
json5
jsonschema
numpy
pandas
pandocfilters==1.4.2
plotly
py==1.9.0
vega_datasets
base64==3.3