altair==4.1.0
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
decorator==4.4.2
docopt==0.6.2
Flask==1.1.2
json5
jsonschema
numpy
pandas
pandocfilters==1.4.2
plotly
py==1.9.0
scipy
vega-datasets